@(title: String)(implicit config: play.api.Configuration, env: play.api.Environment)
@import views.html.tags._

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@title</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href=@_asset("lib/normalize.css/normalize.css") >
        <link rel="stylesheet" href=@_asset("lib/foundation/css/foundation.min.css") >
        <link rel="shortcut icon" type="image/png" href=@_asset("images/favicon.png") >
        <link rel="stylesheet" media="screen" href=@_asset("stylesheets/main.css") >
    </head>
    <body>
        <div id="root">
        </div>
        @scalajs.html.scripts(projectName = "client", name => _asset(name).toString, name => getClass.getResource(s"/public/$name") != null)
    </body>
</html>
